.nav {
  position: relative;
  padding: 10px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}
  .nav-header {
    display: flex;
    justify-content: space-between;
  }
  .nav-header a img{
    width: 100px;
    height: 100px;
  
  }
  
  .site-title {
    color: black;
    text-decoration: none;
  }
  
  .menu-button-nav button{
    display: none;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    gap: 2rem;
  }
  
  .nav-list.open {
    position: absolute;
    top: 60px; /* Adjust based on the height of your navbar */
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 3;
}

  
  .nav-list li {
    padding: 0.5rem 1rem;
  }
  
  .nav-list a {
    text-decoration: none;
    color: black;
  }
  
  .btn-container {
    background-color: #eee98b;
    border-radius: 12px;
    padding: 0.5rem 1rem;
  }
 /* Responsive styles */
@media screen and (max-width: 768px) {
  .menu-button-nav button{
    display: flex;
    width: 15%;
    border: none;
    color: black;
    font-size: 24px;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .nav-list {
    position: absolute;
    top: calc(100%);
    left: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
  }

  .nav-list.open {
    display: flex;
    flex-direction: column; /* Ensure dropdown is below the button */
    align-items: center; /* Center dropdown items horizontally */
    top: calc(100%); /* Adjust based on spacing */
  }

  .nav-list li {
    width: 100%;
    text-align: center;
  }

  .btn-container {
    width: 100%;
    text-align: center;
  }
}
