*{
    box-sizing:border-box;
    font-family: 'Kanit', sans-serif;
    padding: 0;
}


body {
    margin:0;
    padding: 0;
}
.site-title {
    font-size: 3rem;
    font-weight: bold;
}
/* This is a single-line comment 

*/
